* {
    padding: 0px;
    margin: 0px;
}

.clear {
    clear: both;
    display: block;
}

body {
    font-family: tahoma;
    font-size: 1rem;
    padding: 80px 0px 50px 0px;
    background-color: #f1f1f1;
}

h1 {
    color: #666;
    font-size: 2rem;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

h2 {
    color: #666;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

/* header */
.header {
    position: absolute;
    width: 100%;
    height: 80px;
    padding: 10px 0px;
    background-color: #ddd;
    top: 0px;
}

.header img {
    height: 80px;
}

/* menu */
.social {
    position: absolute;
    width: 100%;
    height: 20px;
    padding: 10px 0px;
    background-color: #ccc;
    color: #fff;
    top: 100px;
    text-align: right;
}

.social .gray {
    font-weight: 700;
    color: #666;
}

.social .foto {
    float: right;
    width: 30px;
    height: 30px;
    border: 5px solid #b50000;
    border-radius: 50px;
    background-color: #fff;
    margin: -10px 0px 0px 10px;
    overflow: hidden;
}

.social .sair {
    float: right;
    width: 40px;
    height: 40px;
    border: 5px solid #b50000;
    border-radius: 50px;
    background-color: #b50000;
    margin: -10px 0px 0px 5px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
}

.social .sair img {
    width: 100%;
}

/* conteúdo das div's semânticas */
.container {
    position: relative;
    width: 1024px;
    margin-left: 50%;
    left: -512px;
}

.centralizar {
    text-align: center;
}

.margin75 {
    margin-top: 75px;
}

/* página de login */
.login {
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -200px;
    width: 400px;
}

.login h1 {
    color: #666;
    letter-spacing: -1px;
    margin: 20px 0px;
}

.login .loginBt {
    color: #fff;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    border: none;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 3px;
    margin-bottom: 20px;
    cursor: pointer;
}

.login .btFace {
    background-color: #3161a8;
}

.login .btGoogle {
    background-color: #b50000;
}

.sucesso {
    padding: 10px;
    background-color: #c1d8aa;
    border: 1px solid #017804;
    position: relative;
    border-radius: 3px;
    color: #017804;
    margin: 20px 0px 20px 0px;
    width: 96%;
}

.erro {
    padding: 10px;
    background-color: #FFC2B7;
    border: 1px solid #f00;
    position: relative;
    border-radius: 3px;
    color: #f00;
    margin: 20px 0px 20px 0px;
    width: 96%;
}

.alerta {
    padding: 10px;
    background-color: #FFFFBF;
    border: 1px solid #c6b149;
    position: relative;
    border-radius: 3px;
    color: #c6b149;
    margin: 20px 0px 20px 0px;
    width: 96%;
}

/* lista de produtos */
.produto {
    float: left;
    width: 20%;
    height: 200px;
    margin: 0px 20px 20px 0px;
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #999;
}

.produto .foto {
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-bottom: 10px;
}

.produto .foto img {
    width: 100%;
}

.produto a, .produto a:hover, .produto a:visited {
    background-color: #b50000;
    color: #fff;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 700;
    float: right;
    bottom: 0px;
    padding: 5px;
    margin-top: 20px;
}

/* detalhes */
.foto_detalhe {
    float: left;
    width: 400px;
    height: 300px;
    margin: 0px 20px 20px 0px;
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #999;
}

.foto_detalhe img {
    width: 100%;
}

.link {
    background-color: #b50000;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    float: left;
    bottom: 0px;
    padding: 5px;
    margin-bottom: 20px;
}

.comentarios {
    float: left;
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #999;
}

.comentarios .sub {
    font-size: 0.75rem;
    font-weight: 700;
    color: #666;
}

.tituloInput {
    font-weight: bold;
    font-size: 0.80rem;
    margin: 20px 0px 0px 0px;
    color: #666;
}

.textarea {
    padding: 7px;
    border-radius: 3px;
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 3px #999;
    border: 1px solid #ccc;
    resize: none;
}

.botao {
    padding: 7px;
    width: 120px;
    font-weight: bold;
    color: #666;
    cursor: pointer;
    background-color: #e6e6e6;
    border: 1px solid #999;
    box-shadow: none;
    border-radius: 3px;
	float: left;
    margin: 5px 0px 20px 0px;
    text-align: center;
}

.erro-text {
    color: #f00;
    font-weight: bold;
    font-size: 0.75rem;
}

/* footer */
footer {
    position: fixed;
    width: 100%;
    padding: 10px 0px;
    background-color: #ddd;
    bottom: 0px;
    color: #666;
    font-size: 0.75rem;
}